.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #383838;
}

.container {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #181818;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
}

.userBlock{
    display: flex;
    flex-direction: column;
}

.upBlock{
    display: flex;
}

.center {
    width: 1000px;
    display: flex;
    flex-direction: row;
}