.barVolumeBlock {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 92px 0 0;
}

.volumeContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.volumeImage {
    width: 13px;
    height: 18px;
    margin-right: 17px;
}

.volumeSvg {
    width: 13px;
    height: 18px;
    fill: transparent;
}

.volumeProgress {
    width: 109px;
    margin-bottom: 7px;
}


/* стили ползунка */

.volumeProgressLine {
    --progress-value: 50%;
    --progress-height: 5px;
    --progress-color: #ffffff;
    --progress-bg-color: #2e2e2e;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    background: var(--progress-bg-color);
    width: 100%;
    height: var(--progress-height);
    cursor: pointer;
}

/* played progress length - Chrome & safari*/
.volumeProgressLine::before {
    content: '';
    height: var(--progress-height);
    background: var(--progress-color);
    width: var(--progress-value);
    position: absolute;
    top: 0;
    left: 0;
}

.volumeProgressLine::-webkit-slider-thumb {
    --thumb-height: 12px;
    --thumb-width: 12px;

    width: var(--thumb-width);
    height: var(--thumb-height);
    /* margin-top: calc((var(--progress-height) / 2) - (var(--thumb-height) / 2)); */
    border: 2px solid;
    border-color: #ffffff;
    border-radius: calc(var(--thumb-height) / 2);
    background-color: #1a1a1a;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
}